.open-lease-pg {
    .top-head-block {
        .icon-head-block {
            font-size: 20px;
        }
    }
    .timeline-container {
        height: 692px;
        overflow: auto;
        margin: 0 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }
}
